# 環境変数
.env

# データベース
database/

# アップロードファイル
uploads/

# ビルド成果物
backend/Yorutomo/obj/
backend/Yorutomo/bin/

# Docker
.devcontainer/

# Assets
frontend/main/assets/images/icons
frontend/main/assets/images/program

.archive_*